<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <title>FacebookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
    <div class="main">
    <div class="header">
    <header>
        <table>

            <tr>
                <td class="size"><%= image_tag"face.png" %></td>
                <td>
                    <h1 class="fb">welcome to facebook</h1>
                </td>
                <td>
                    <div class="div1">
                            <button class="bit">search</button>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
                            <% if user_signed_in? %>
                              <%= link_to 'Sign Out', destroy_user_session_path, class: "btn btn-danger ", method: :delete %>

                            <% else %>
                              <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-info" %>
                              <%= link_to 'Sign In', new_user_session_path, class: "btn btn-info"  %>
                              <% end %>
                </td>
            </tr>
        </table>
</header>
</div>
<div class="div2">
    <table class="table">
        <tr>
            <td class="size"><%= image_tag"prifil.jpg" %></td>
           <tr> <td class="size"><%= image_tag"event.jpg" %></td></tr>
           <tr> <td class="size"><%= image_tag"contacts.png" %></td></tr>
        </tr>
        </tr>
        <tr>
            <td class="size"><%= image_tag"msnger.jpg"%></td>
        
    </table>

</div>

</div></div>

          <%= yield  %>  
          <% if user_signed_in? %>
          
          <% else %>
          <nav class="navbar navbar-light bg-primary fixed-bottom">
          <a class="navbar-brand" href="#">
            <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Facebook clone app  
          </a>
        </nav>
        <% end %>
</body>
</html>
